# Python Caches & Environments
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
venv/
.venv/
env/
.env

# Node.js
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local

# Logs
logs/
*.log
npm-debug.log*

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vercel Deployment Directories
.vercel/
